body {
    background: url('./crynk-frontpage.png') no-repeat top center fixed;
    background-size: 92%;
    background-color: #121122;
    font-family: 'Mont Thin', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    margin: 0;
    padding-bottom: 10vh;
}

element.style {
    color: whitesmoke;
}

.login-form input {
  margin-bottom: 20px; /* Adds space below each input field */
  padding: 10px; /* Adds padding inside each input field */
  width: 100%; /* Ensures inputs take full width */
  box-sizing: border-box; /* Ensures padding doesn't affect width */
  border-radius: 5px;
}

.login-form button {
  margin-top: 20px; /* Adds space above the button */
  padding: 10px 20px; /* Adds padding inside the button */
  border-radius: 5px;
}

.container {
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.form-field {
    width: 250px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    font-size: 16px;
    background: none;
    color: #ECECEC;
}

.create-account {
    margin: 10px 0;
    font-size: 14px;
    text-decoration: none;
    color: #F0008C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 2;
    border-radius: 5px;
}

.login-btn {
    width: 250px;
    background-color: #F0008C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    order: 3;
}

#loginMessage {
    color: white;
    margin-top: 10px;
}

.toggle-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.toggle-btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background: gray;
    color: white;
    font-size: 16px;
    margin: 0 5px;
}

.toggle-btn.active {
    background: #F0008C;
}

.form-field {
    width: 250px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    font-size: 16px;
    background: none;
    color: white;
}
